.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;
  /* since we are in a container, make the changes here */

  display: flex;
  align-items: center; /* Y axis */
  justify-content: center; /* X axis */
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
}
